---
import ContactForm from "@/components/ContactForm.astro";
import Title from "@/components/Title.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Contacto">
  <main
    class="max-w-xl mx-auto flex min-h-[calc(100dvh-8rem)] items-centera gap-4 [&>section]:flex-1"
  >
    <section class="text-muted-foreground self-start">
      <Title>Contacto</Title>
      <p>
        Si necesitas contratar mis servicios, puedes contactarme a través del
        siguiente formulario o para mayor detalle puedes enviarme un correo
        electrónico a
        <a
          class="text-primary underline underline-offset-4"
          href="mailto:dev.iarriagada@gmail.com">dev.iarriagada@gmail.com</a
        >.
      </p>
      <p class="mb-4">
        Estare encantado de responder tus consultas lo antes posible.
      </p>
      <ContactForm />
    </section>
  </main>
</RootLayout>
