---
import HeroImage from "@/components/HeroImage.astro";
import HeroPresentation from "@/components/HeroPresentation.astro";
import Main from "@/components/Main.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Inicio">
  <Main
    classname="flex flex-col items-center justify-center-safe min-h-[calc(100dvh-8rem)]"
  >
    <div class="flex *:flex-1 gap-20">
      <HeroPresentation />
      <HeroImage />
    </div>
  </Main>
</RootLayout>
