---
import HeroImage from "@/components/HeroImage.astro";
import HeroPresentation from "@/components/HeroPresentation.astro";
import Main from "@/components/Main.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Inicio">
  <Main
    classname="flex flex-col items-center justify-center min-h-[calc(100dvh-8rem)] pb-20 lg:pb-0"
  >
    <div class="flex flex-col lg:flex-row items-center w-full justify-between">
      <HeroPresentation />
      <HeroImage />
    </div>
  </Main>
</RootLayout>
