---
import { Icon } from "astro-icon/components";
---

<div class="space-y-5 order-2 lg:order-1">
  <h1 class="text-3xl font-medium text-muted-foreground">Hola, soy Ignacio,</h1>
  <h2
    class="relative text-8xl font-extrabold leading-tight uppercase bg-linear-to-l from-primary-800 to-primary-500 bg-clip-text text-transparent after:content-[''] after:block after:w-3 after:h-3 after:bg-muted-foreground after:animate-cursor-blink after:absolute after:bottom-5 after:-right-5"
  >
    Soy Web<br />Developer
  </h2>
  <p class="text-xl text-muted max-w-72">
    Desarrollo aplicaciones web Fullstack modernas con tecnologías como
    React.js, Next.js y Node.js.
  </p>
  <a
    href="/about"
    class="underline underline-offset-8 hover:underline-offset-14 transition-all font-bold text-lg group flex items-center gap-2 hover:text-primary w-max"
  >
    Mas Sobre Mi
    <Icon
      name="arrow-corner-up-right"
      class={"group-hover:translate-x-[6px] transition-transform"}
    />
  </a>
</div>
