---
import { Icon } from "astro-icon/components";
---

<div class="space-y-2 lg:space-y-5">
  <h1 class="font-medium text-2xl text-muted-foreground">Hola, soy Ignacio,</h1>
  <div class="flex items-baseline-last gap-2">
    <h2
      class="relative text-8xl font-extrabold leading-tight uppercase bg-linear-to-l from-primary-800 to-primary-500 bg-clip-text text-transparent"
    >
      Soy Web<br />Developer
    </h2>
    <span class="block w-3 h-3 bg-muted-foreground animate-cursor-blink"></span>
  </div>
  <p class="text-xl text-muted max-w-72">
    Desarrollo aplicaciones web Fullstack modernas con tecnologías como
    React.js, Next.js y Node.js.
  </p>
  <a
    href="/about"
    class="underline underline-offset-8 hover:underline-offset-14 transition-all font-bold text-lg group flex items-center gap-2 hover:text-primary w-max"
  >
    Mas Sobre Mi
    <Icon
      name="arrow-corner-up-right"
      class={"group-hover:translate-x-[6px] transition-transform"}
    />
  </a>
</div>

<style is:inline>
  h1 {
    font-size: clamp(1.25rem, calc(0.954rem + 1.481vw), 2.25rem);
  }
  h2 {
    font-size: clamp(3rem, calc(1.435rem + 5.217vw), 6rem);
  }
  p {
    font-size: clamp(1rem, calc(0.963rem + 0.185vw), 1.125rem);
  }
</style>
