---

---

<div class="bg-background hero-clipping">
  <div class="hero-clipping grid place-content-center bg-primary hero-frame">
    <div class="bg-background grid place-content-center w-full hero-block">
      <div
        class="bg-background hero-clipping grid place-content-center hero-border"
      >
        <img
          src="/src/assets/images/hero.jpeg"
          class="object-cover aspect-square hero-clipping saturate-150 hero-image"
        />
      </div>
    </div>
  </div>
</div>

<style is:inline>
  @property --r {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }

  .hero-frame {
    width: clamp(330px, calc(264.815px + 20.37vw), 550px);
    height: clamp(330px, calc(264.815px + 20.37vw), 550px);
  }

  .hero-block {
    height: clamp(70px, calc(49.259px + 6.481vw), 140px);
  }

  .hero-border {
    width: clamp(315px, calc(252.778px + 19.444vw), 525px);
    height: clamp(315px, calc(252.778px + 19.444vw), 525px);
  }

  .hero-image {
    width: clamp(300px, calc(240.741px + 18.519vw), 500px);
    height: clamp(300px, calc(240.741px + 18.519vw), 500px);
  }

  .hero-clipping {
    --r: 0.4; /* controla el redondeo */
    --a: 30deg; /* controla la rotacion */
    --_a: (30deg * var(--r));
    --_r: (50% * cos(30deg) / cos((30deg * (1 - var(--r)))));
    transition:
      --r 0.5s,
      --a 0.5s;
    clip-path: shape(
      from calc(50% + var(--_r) * cos(var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(var(--a) + var(--_a))) with
        calc(50% + 50% * cos(var(--a))) calc(50% + 50% * sin(var(--a))),
      line to calc(50% + var(--_r) * cos(60deg + var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(60deg + var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(60deg + var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(60deg + var(--a) + var(--_a))) with
        calc(50% + 50% * cos(60deg + var(--a)))
        calc(50% + 50% * sin(60deg + var(--a))),
      line to calc(50% + var(--_r) * cos(120deg + var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(120deg + var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(120deg + var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(120deg + var(--a) + var(--_a))) with
        calc(50% + 50% * cos(120deg + var(--a)))
        calc(50% + 50% * sin(120deg + var(--a))),
      line to calc(50% + var(--_r) * cos(180deg + var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(180deg + var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(180deg + var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(180deg + var(--a) + var(--_a))) with
        calc(50% + 50% * cos(180deg + var(--a)))
        calc(50% + 50% * sin(180deg + var(--a))),
      line to calc(50% + var(--_r) * cos(240deg + var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(240deg + var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(240deg + var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(240deg + var(--a) + var(--_a))) with
        calc(50% + 50% * cos(240deg + var(--a)))
        calc(50% + 50% * sin(240deg + var(--a))),
      line to calc(50% + var(--_r) * cos(300deg + var(--a) - var(--_a)))
        calc(50% + var(--_r) * sin(300deg + var(--a) - var(--_a))),
      curve to calc(50% + var(--_r) * cos(300deg + var(--a) + var(--_a)))
        calc(50% + var(--_r) * sin(300deg + var(--a) + var(--_a))) with
        calc(50% + 50% * cos(300deg + var(--a)))
        calc(50% + 50% * sin(300deg + var(--a)))
    );
  }
</style>
