---
import { Icon } from "astro-icon/components";
---

<div class="space-y-5">
  <h1 class="text-3xl font-medium text-muted-foreground">Hola, soy Ignacio,</h1>
  <h2 class="text-8xl font-bold leading-tight uppercase">
    Soy Web<br />Developer
  </h2>
  <p class="text-xl text-muted max-w-72">
    Desarrollo aplicaciones web Fullstack modernas con tecnologías como
    React.js, Next.js y Node.js.
  </p>
  <a
    href="/about"
    class="underline underline-offset-8 hover:underline-offset-[14px] transition-all font-bold text-lg group flex items-center gap-2 hover:text-primary w-max"
  >
    Mas Sobre Mi
    <Icon
      name="arrow-corner-up-right"
      class={"group-hover:translate-x-[6px] transition-transform"}
    />
  </a>
</div>
